// going to be used as CSS and extended!!
doctype html
html 
    head
        title Knowledgebase 
    body 
        // output
        block content
        br 
        hr
        footer 
            p Footer here in paragrapth form 